<!-- app.component.html -->
<div class="container">
  <h1>Gestión de Tareas</h1>

  <!-- Formulario para agregar tareas -->
  <div class="agregar-tarea">
    <input type="text" [(ngModel)]="nuevoTitulo" placeholder="Título" />
    <input type="text" [(ngModel)]="nuevaDescripcion" placeholder="Descripción" />

    <button (click)="agregarTarea()">Agregar Tarea</button>
  </div>

  <h2>Lista de Tareas</h2>
  <ul>
    <li *ngFor="let tarea of tareas">
      <!-- Usamos el componente Tarea para cada tarea individual -->
      <app-tarea [tarea]="tarea" (tareaEliminada)="eliminarTarea($event)"></app-tarea>
    </li>
  </ul>
</div>
