<!-- app.component.html -->
<div class="container">
  <h1>Gestión de Tareas</h1>

  <!-- Formulario para agregar tareas -->
  <div class="agregar-tarea">
    <input type="text" [(ngModel)]="nuevoTitulo" placeholder="Título" class="input-field" />
    <input type="text" [(ngModel)]="nuevaDescripcion" placeholder="Descripción" class="input-field" />

    <button (click)="agregarTarea()" class="btn agregar-btn">Agregar Tarea</button>
  </div>

  <h2 class="lista-tareas-titulo">Lista de Tareas</h2>
  <ul class="lista-tareas">
    <li *ngFor="let tarea of tareas">
      <!-- Usamos el componente Tarea para cada tarea individual -->
      <app-tarea [tarea]="tarea" (tareaEliminada)="eliminarTarea($event)"></app-tarea>
    </li>
  </ul>
</div>
